<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cupcakes</title>
</head>
<body>
    Cupcake List:
    <ul id="cupcake-list">

    </ul>

    Add a Cupcake:
        <form method="POST">
            <label for="flavor">Flavor</label><br/>
            <input type="text" name="flavor"><br/><br/>
            <label for="size">Size</label><br/>
            <input type="text" name="size"><br/><br/>
            <label for="rating">Rating</label><br/>
            <input type="text" name="rating"><br/><br/>
            <label for="image">Image URL</label><br/>
            <input type="text" name="image"><br/><br/>
            <input type="submit" value="ADD CUPCAKE!!!!">
        </form>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="static/cupcakes.js"></script>
    </body>
</html>